*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
          list-style: none;

}



.top-page-header {
  background: linear-gradient(to right top, rgb(46, 45, 45), gray, rgb(46, 45, 45));
  height: 10vh;
  width: 100%;
  padding: 2vh 2vw; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* flex-direction: column; */
}

.title-name{
  color: #fff;
  font-size: 40px;
  height: 10vh;
  width: 40%;
  padding-top: 5px;
}

.nav{
  height: 10vh;
  width: 60%;
}

.status-ok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-top: 5px;
}

.user-nickname{
  position: relative;
  width: 12%;
}

.nickname-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: large;
}

.log-out{
  position: relative;
  width: 12%;
}

.logout-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: large;  	
  white-space: nowrap;
}

.chat-room{
  position: relative;
  width: 12%;
}

.chat-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: large; 
}

.video-room{
  position: relative;
  width: 12%;
}

.video-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: large; 
}

.memo-room{
  position: relative;
  width: 12%;
}

.memo-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: large; 
  white-space: nowrap;
}



.button-ok{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}







.status-ng{
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
}


.sign-in{
  position: relative;
  width: 25%;
  height: 10vh;
}

.button-in{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.in-text{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sign-up{
  position: relative;
  width: 25%;
  height: 10vh;
}

.button-up{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.up-text{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


a{
  text-decoration: none;
}

