*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.top-page-header {
  background: linear-gradient(to right top, black, gray, black);
  height: 10vh;
  width: 100vw;
  /* padding: 2vh 10vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
.title{
  color: #fff;
  font-size: 45px;
  font-style:
  height: 10vh;
  width: 40vw;
  padding-left: 40px;
}

.nav{
  height: 10vh;
  width: 60vw;
}

.status-ok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  }

.user-nickname{
  position: relative;
  width: 12vw;
}

.nickname-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.log-out{
  position: relative;
  width: 12vw;
}

.logout-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.chat-room{
  position: relative;
  width: 12vw;
}

.chat-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video-room{
  position: relative;
  width: 12vw;
}

.video-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.memo-room{
  position: relative;
  width: 12vw;
}

.memo-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



.button-ok{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}







.status-ng {
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
}


.sign-in{
  position: relative;
  width: 25vw;
  height: 10vh;
  
}

.button-in{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.in-text{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sign-up{
  position: relative;
  width: 25vw;
  height: 10vh;
}

.button-up{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.up-text{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


a{
  text-decoration: none;
}