<%= render "shared/header" %>

<%# // roomIdを渡す処理 %>
<%# <% props = {
    roomId: "aiueo" 
  }.to_json
%>

<%# <div id='room' data="<%= props %>
    <%# <room/> %>
<%# </div> %>

<%# <%= javascript_pack_tag 'room' %>
<%# <%= stylesheet_pack_tag 'room' %> 
<%# room.jsを読み込み？ %>