.messages-room-frame{
  height:90vh;
  width:100%;
  background: radial-gradient(rgb(199, 197, 197), white);
  /* background-color: rgb(199, 197, 197); */
  position: relative;
}


.messages-room-name{
  background: radial-gradient(rgb(247, 247, 56), white);
  /* background-color: rgb(141, 138, 138); */
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(87, 84, 84);

}

.messages-room-text{
}

.message-date{
  font-size: 3px;
}


.message-main-right{
  /* margin-right: auto; */
  /* width: 10px; */
  text-align: right;
  /* background-color: #fff; */
  padding: 2px 10% 0 0;
  font-size: large;
}

.message-main-left{
  text-align: left;
  /* background-color: #fff; */
  padding-left: 10% ;
  font-size: large;
}

.form-input{
  display: flex;
  justify-content: center;
  width: 11.5%;
}

.text-long{
  height:20vh;
  width: 65%;
  position: absolute;
  left: 8%;
  bottom: 5vh;
  font-size: 25px;
}

.button-long{
  height:20vh;
  width: 12%;
  position: absolute;
  left: 70%;
  bottom: 5vh;
  background-color:  rgb(243, 243, 129);
  font-size: large;
}

.form-image{
  position: absolute;
  left: 82%;
  bottom: 5vh;
  display: table; 
  width:inherit;
}



.image-file{
  height: 20vh;
  
  font-size: large;
  background-color: #38AEF0;
  /* border: solid 2px black; */
  border-top: solid 2px rgb(63, 63, 63);
  border-right: solid 2px rgb(63, 63, 63);
  border-bottom: solid 2px rgb(63, 63, 63);
  display: table-cell; 
  vertical-align: middle;
  text-align: center;
  
  /* display: block; */
}

.hidden{
  font-size: large;
  display: none;
}

.flash-notice{
  background-color: rgb(199, 197, 197);
  color:red;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

/* .form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
} */
/* 
.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
} */
/* 
.hidden {
  display: none;
} */
